.footer{
	position: fixed;
	bottom: 20px;
}

.countdown-number .countdown-label {
	color : #e0e0f1;
}

.main .overlay{
	opacity : 0.2;
	background: #111;
	z-index: 0;
}

.mailing-list-heading{
	position: fixed;
	bottom: 80px;
	color: #fbfbff;
}