.fullback{
	background-image: url('../images/exhibition1.png');
	background-size: cover;
	background-repeat: no-repeat;
}

div.boothback > img{
    /* background-size: cover; */
    background-size: auto 100% !important;
    height: 100vh;
    background-repeat: no-repeat;
    object-fit: fill !important;
}

.background{
    /* background-color: rgba(44, 50, 58, 0.596); */
    background-color: #010c1bd4;

}

.modal-content{
    background-color: #fcfcff;
    border-radius: 10px;
}

[data-notify="progressbar"] {
	margin-bottom: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 5px;
}

/* .modal-dialog{
    max-height: 800px;
} */

/* .modal-backdrop {
    background-color: #007bcc;
    opacity: 1;
 } */

/* @media only screen and (max-width: 576px) {
    .modal-dialog {
        width: 98%;
        height: 92%;
        padding: 0;
      }

      .modal-content {
        height: 99%;
      }
  }  */



/* @media only screen and (orientation: portrait) {
    body {
        -webkit-transform: rotate(90deg) !important;
        -moz-transform: rotate(90deg) !important;
        -ms-transform: rotate(90deg) !important;
        -o-transform: rotate(90deg) !important;
        transform: rotate(90deg) !important;
    }
} */
