   <!-- <div class="container"> -->
        <img src="images/exhibition1.png" class="img-fluid rounded mx-auto d-block" usemap="#home-map">

        <map name="home-map">
            <area target="_blank" alt="Enter Exhibition" title="Enter Exhibition" data-toggle="modal" data-target="#enter" coords="513,521,382,452" shape="rect">
            <area target="_blank" alt="Register" title="Register" data-toggle="modal" data-target="#register" coords="663,454,775,513" shape="rect">
            <area target="_blank" alt="Exit" title="Exit" href="#exit" coords="665,521,787,577" shape="rect">
        </map>


        <!--Enter Modal -->
          <div class="modal fade" id="enter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" style="margin: 0 auto;">Enter The Loveworld Exhibition</h5>
                    </div>
                    <form ng-submit="vm.enter();"></form>
                      <div class="modal-body">
                        <div class="form-row">
                            <div class="form-group col-md-10 offset-md-1">
                              <label for="phone">Enter Kingschat Number</label>
                              <input type="text" class="form-control" id="phone" placeholder="+2348076543469" required>
                          </div>
                        </div>   
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary" data-dismiss="modal">Enter</button>
                      </div>
                    </form> 
                  </div>
                
              </div>
            </div>

            <!--Register Modal -->
          <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" style="margin: 0 auto;">Register For The Loveworld Exhibition</h5>
                    </div>
                    <form ng-submit="vm.register();"></form>
                      <div class="modal-body">
                        <div class="form-row">
                          <div class="form-group col-md-10 offset-md-1">
                              <label for="fullname">Full Name</label>
                              <input type="text" class="form-control" id="fullname" placeholder="Enter your full name" required>
                          </div>
                          <div class="form-group col-md-10 offset-md-1">
                              <label for="email">Email</label>
                              <input type="email" class="form-control" id="email" placeholder="eddwards@gmail.com" required>
                          </div>
                          <div class="form-group col-md-10 offset-md-1">
                              <label for="phone">Enter Kingschat Number</label>
                              <input type="text" class="form-control" id="phone" placeholder="+2348076543469">
                          </div>
                          <div class="form-group col-md-10 offset-md-1">
                              <label for="phone">Gender</label>
                              <select id="inputState" class="form-control" required>
                                  <option selected disabled>Choose gender</option>
                                  <option value="male">Male</option>
                                  <option value="female">Female</option>
                              </select>
                          </div>
                        </div>   
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary" data-dismiss="modal">Register</button>
                      </div>
                    </form> 
                  </div>
                
              </div>
            </div>